################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

# Test project build artifacts
/tests/**/bin/
/tests/**/obj/

# Local launch profiles
**/launchSettings.json
