[submodule "plugins/jira/byo-plugin-jira"]
	path = plugins/jira/byo-plugin-jira
	url = git@github.com:softwareworkercom/byo-plugin-jira.git
[submodule "plugins/byo-plugin-jira"]
	path = plugins/byo-plugin-jira
	url = git@github.com:softwareworkercom/byo-plugin-jira.git
[submodule "plugins/byo-plugin-confluence"]
	path = plugins/byo-plugin-confluence
	url = git@github.com:softwareworkercom/byo-plugin-confluence.git
[submodule "plugins/byo-plugin-google-calendar"]
	path = plugins/byo-plugin-google-calendar
	url = git@github.com:softwareworkercom/byo-plugin-google-calendar.git
[submodule "plugins/byo-plugin-softwareworker"]
	path = plugins/byo-plugin-softwareworker
	url = git@github.com:softwareworkercom/byo-plugin-softwareworker.git
[submodule "plugins/byo-plugin-msteams"]
	path = plugins/byo-plugin-msteams
	url = git@github.com:softwareworkercom/byo-plugin-msteams.git
[submodule "plugins/byo-plugin-tester"]
	path = plugins/byo-plugin-tester
	url = git@github.com:softwareworkercom/byo-plugin-tester.git
